@use "../abstracts/mixins" as *;

body {

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url('/bgmatch/Desktop.png');
    background-size: 1440px auto;
    opacity: 0;
    pointer-events: none;

    @include breakpoint-down(medium) {
        background-image: url('/bgmatch/Tablet.png');
        background-size: 768px auto;
    }

    @include breakpoint-down(small) {
        background-image: url('/bgmatch/Mobile.png');
        background-size: 375px auto;
    }
  }
}