// _colors.scss

  $vdkBlue: hsl(219, 43%, 16%);
  $dkGrayishBlue: hsl(218, 20%, 36%);
  $offWhite: hsl(30, 33%, 93%);
  $nearWhite: hsl(30, 29%, 97%);
  $gradient1: hsl(264, 100%, 69%);
  $gradient2: hsl(292, 76%, 54%);
  $gradient3: hsl(31, 100%, 65%);